@model SistemaNomina.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle del empleado</h1>

<div class="card p-3">
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SSN)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SSN)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AFP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AFP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ISR)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ISR)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ARS)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ARS)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Puesto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RetirementPercent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RetirementPercent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a class="btn btn-danger" asp-action="Index">Volver</a>
</div>
