@model SistemaNomina.Models.Payment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GrossPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GrossPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentPeriodFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentPeriodFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentPeriodTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentPeriodTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ISR)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ISR)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AFP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AFP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ARS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ARS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ARL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ARL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TSS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TSS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.INFOTEP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.INFOTEP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Retirement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Retirement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetPay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetPay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.NombreCompleto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info">Editar</a>
    <a asp-action="Index" class="btn btn-danger">Volver</a>
</div>
