@model IEnumerable<SistemaNomina.Models.HorasExtras>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Horas Extras</h1>

<div class="card p-3">
    <p>
        <a class="btn btn-success" asp-action="Create">Crear Hora Extra</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CantidadMes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FechaEfectiva)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Payment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CantidadMes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaEfectiva)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Payment.NetPay)
                    </td>
                    <td>
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-warning" asp-action="Details" asp-route-id="@item.Id">Detalle</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>